apiVersion: apps/v1
kind: Deployment
metadata:
  creationTimestamp: null
  labels:
    app.kubernetes.io/created-by: application-service
    app.kubernetes.io/instance: go-169758810
    app.kubernetes.io/managed-by: kustomize
    app.kubernetes.io/name: go-169758810
    app.kubernetes.io/part-of: test-app-169758810
  name: go-169758810
spec:
  replicas: 1
  revisionHistoryLimit: 0
  selector:
    matchLabels:
      app: go-app
      app.kubernetes.io/instance: go-169758810
  strategy: {}
  template:
    metadata:
      creationTimestamp: null
      labels:
        app: go-app
        app.kubernetes.io/instance: go-169758810
    spec:
      containers:
      - env:
        - name: TEST_ENV_VAR
          value: Test go app
        image: quay.io/hacdev/aedli7qw-tenant/test-app-169758810/go-169758810@sha256:4b27041614a2f5df7db04799f92ad3d86d135d0a62a558823b4dbb9ae8ab1773
        name: my-go
        ports:
        - containerPort: 8081
          name: http
          protocol: TCP
        resources:
          requests:
            cpu: 10m
            memory: 10Mi
status: {}
